<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <!--define various log targets-->
  <targets>

    <!--write logs to file-->

    <target xsi:type="File" name="allfile" fileName="${basedir}/logs/nlog-all-${shortdate}.log"
                 layout="${threadid}|${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"
                  maxArchiveFiles="10"
                  archiveAboveSize="1048576"
                  archiveEvery="Day" />

    <target xsi:type="File" name="nlog-my" fileName="${basedir}/logs/nlog-my-${shortdate}.log"
                 layout="${threadid}|${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"
                 maxArchiveFiles="10"
                 archiveAboveSize="1048576"
                 archiveEvery="Day" />


 

  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="allfile" final="true" />
    <logger name="*" minlevel="Error" writeTo="nlog-my" />
  </rules>
</nlog>